/* Carica il font Vevey-HumanKind */
@font-face {
    font-family: 'Blur Medium';
    src: url('fonts/Blur Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Blur Light';
    src: url('fonts/BlurWeb-Light W03 Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'ABCMonumentGrotesk-Light';
    src: url('fonts/ABCMonumentGrotesk-Light-Trial.otf') format('opentype');
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    margin: 0;
    overflow: hidden; /* Nasconde overflow verticale */
}

.scroll-container {
    display: flex;
    overflow-x: hidden; /* Nasconde overflow orizzontale */
    overflow-y: auto; /* Consente lo scroll verticale */
    width: 100vw;
    height: 100vh; /* Imposta l'altezza del contenitore */
    position:relative;
    top: 22vh; 
    scroll-behavior:auto; /* Disabilita lo smooth scroll per evitare salti */
    padding-top: 8px;
}
.image-wrapper {
    display: flex;
    flex-direction: column; /* Imposta la direzione verticale per immagini e didascalie */
    align-items: flex-start; /* Allinea a sinistra le didascalie */
    transition: transform 0.5s ease; /* Aggiunge transizione per l'ingrandimento */
}




.image-wrapper:hover .caption {
    transform: translateY(-10px); /* Sposta la didascalia verso l'alto di 10px */
    transition: transform 0.3s ease; /* Aggiunge transizione per il movimento */
}

.image {
    flex-shrink: 0; /* Evita che le immagini si comprimano */
    object-fit: cover;
    width: 200px;
    height: 250px;
  
    transition: width 0.6s ease, height 0.6s ease;
}



.caption {
    margin-bottom: 0px; /* Spazio sotto la didascalia */
    font-size: 16px;
    color: #000; /* Colore del testo della didascalia */
    width: 100%; /* Larghezza della didascalia per estendersi su tutta l'immagine */
    text-align: left; /* Allinea il testo a sinistra */
    font-family: 'Blur Medium', sans-serif; /* Applica il font */
    z-index: 20000; 
    text-decoration: none; 
    letter-spacing: -0.5px;
}

/* HEADER */

       /* HEADER */

 
    
    header {
        position: fixed; /* Mantiene l'intestazione fissa in cima alla pagina */
        top: 0;
        left: 0;
        right: 0;
        font-family: 'Vevey-HumanKind', sans-serif; /* Applica il font */
        z-index: 1000; /* Assicura che l'intestazione sia sopra il contenuto */
        font-size: 18px; /* Dimensione del font */
        font-family: 'Blur Medium', sans-serif; /* Applica il font */
    }
    
    a {
        text-decoration: none;
    }
    
    .header-container {
        display: flex; /* Usa flexbox per allineare gli elementi */
        justify-content: space-between; /* Spazia gli elementi in modo che siano ai lati */
        align-items: center; 
        padding: 15px; /* Spazio interno per l'intestazione */
        max-width: 97%; /* Imposta una larghezza massima se desiderato */
        margin-left: 5px;
         
    }
    
    .left {
        flex: 1; /* Occupare lo spazio a sinistra */
    }
    
    .center {
        text-align: center; /* Left align */
        justify-content: center; /* Allinea Carousel e List al centro orizzontalmente */
        align-items: center; 
        flex: 1; /* Equal space for all columns */
        display: flex;
    } 
    
    .right {
        flex: 1; /* Occupare lo spazio a destra */
        text-align: right; /* Allinea il testo a destra */
    }

@media (max-width: 768px) {

    .left {
        text-align: left; /* Left align */
        flex: 1; /* Equal space for all columns */
    }

    .center {
        text-align: center; /* Left align */
        justify-content: center; /* Allinea Carousel e List al centro orizzontalmente */
        align-items: center; 
        flex: 1.1; /* Equal space for all columns */
        display: flex;
        
    } 

    .right {
        text-align: right; /* Left align */
        flex: 0.9; /* Equal space for all columns */    
    }
 
}



.footer-container{
    display: flex;
    position: absolute; /* Posiziona il testo in modo assoluto */
    bottom: -3.5vh; /* Distanza dal basso */
    width: 100%; /* Occupa tutta la larghezza dello schermo */
    z-index: -1000; 
    justify-content: center;
    left: -4px;
}


.footer-text {
    left: 0; /* Allinea a sinistra */
    width: 100%; /* Occupa tutta la larghezza dello schermo */
    text-align: center; /* Centra il testo */
    font-family: 'Blur Medium', sans-serif; /* Applica il font */
    font-size: 13.5vw; /* Dimensione del font */  
    letter-spacing: -0.9vw;  
    color: #f0f0f0;
}

@media (max-width: 768px) {
    .footer-text {
        display: flex;
        flex-direction: column; /* Imposta la direzione verticale */
        font-size: 21vw; /* Modifica la dimensione del font per dispositivi mobili */
    }
    
    .footer-text .first-name {
        display: block; /* Mostra Giulia nella prima riga */
        margin-bottom: -35px; /* Riduci la distanza sotto "Giulia" */
    }
    
    .footer-text .last-name {
        display: block; /* Mostra Polimeno nella seconda riga */
        margin-bottom: 20px; /* Riduci la distanza sotto "Giulia" */
    }
}


/* Nuova classe per la navigazione */
.navigation {
    position: absolute; /* Posiziona la navigazione in modo assoluto */
    left: 20px; /* Distanza da sinistra */
    bottom: 180px; /* Distanza dal basso */
    z-index: 1000; /* Assicura che la navigazione sia sopra il contenuto */
    font-family: 'Blur Medium', sans-serif; /* Applica il font */
    font-size: 18px; /* Dimensione del font */
}

.nav-link {
    color: #e7e7e7; /* Colore grigio per i link inattivi */
    margin-right: 5px; /* Spazio tra i link */
    text-decoration: none;
}

.nav-link.active {
    color: #000; /* Colore nero per i link attivi */
    
}

.nav-link:hover {
    color: #000000; /* Colore dei link quando il mouse ci passa sopra */
}




/* ABOUT */
.about-conteiner{
    width: 100%;
    position: sticky;
    top: 27vh;
    display: flex;
    padding: 15px;
    font-family: 'ABCMonumentGrotesk-Light', sans-serif;
    display: inline-block;
    font-size: clamp(16px, 2vw, 18px);
    line-height: 20px;
    margin-bottom: 15vh;
  
}

.about-caption {
    width: 50%;
    justify-content: flex-start;

}

.title {
    font-size: clamp(40px, 14vw, 60px); /* Responsive font size with a minimum of 20px and a maximum of 50px */
    color: #000;
    font-family: 'Blur Medium', sans-serif; /* Applica il font */
    letter-spacing: -5px;
    margin-top: 100px;
    margin-bottom: 30px;
    
}


/* Definisci una classe base per i link dei contatti */
.contact-conteiner a {
    position: relative;
    color: black;
    text-decoration: none;
    display: inline-block;
   
    font-size: clamp(16px, 2vw, 18px);
    transition: transform 0.3s ease; /* Transizione per spostamento */
}

/* Aggiungi la freccina all'inizio della parola quando si passa sopra il link */
.contact-conteiner a::before {
   
    position: absolute;
    left: -20px; /* Posiziona la freccia prima del testo */
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transizione per far apparire la freccia */
    font-family: 'Blur Medium', sans-serif; /* Font per la freccia */
    font-size: clamp(16px, 2vw, 18px);

}

/* Effetto hover per mostrare la freccia e spostare il testo */
.contact-conteiner a:hover::before {
    opacity: 1;
    transform: translateX(-5px); /* Sposta leggermente la freccia */
}

.contact-conteiner a:hover {
    transform: translateX(20px); /* Sposta il testo verso destra */
}



@media (max-width: 768px) {

    /* Rendi l'about-conteiner e il contatto più grande sui dispositivi mobili */
    

    .bio-conteiner, .contact-conteiner {
        width: 100%; /* Estendi contenitori a tutta la larghezza dello schermo */
    }

    /* Aumenta la dimensione del testo per i link */
    .about-caption {
        width: 100%;
        justify-content: flex-start;

    }

    /* Aggiungi padding ai link */
    .contact-conteiner a {
        display: inline-block; /* Forza i link a comportarsi come blocchi */
    }
     

    
    /* Aggiungi la freccina all'inizio della parola quando si passa sopra il link */
.contact-conteiner a::before {
   
    display: none;

}

/* Effetto hover per mostrare la freccia e spostare il testo */
.contact-conteiner a:hover::before {
   display: none;
}

.contact-conteiner a:hover {
    transform: none;
}


}


